@media(min-width: 992px) and (max-width: 1200px) {
    .product-shipping {
        font-size: 90%;
    }

    .product-title {
        font-size: 85%;
    }
}

@media(max-width: 991.89px) {
    .product-item img {
        height: 280px !important;
    }
}