@media (max-width: 991.89px) {
    .navbar.bg-body-tertiary {
        background-color: #007bff !important;
    }
}

@media (min-width: 992px) {
    .col-lg-2-custom {
        width: 20%;
    }
}

.navbar div .input-group {
    width: 65%;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.noti-point {
    top: 20%;
}

.breadcrumb {
    --bs-breadcrumb-divider: '>';
}

.mobile div a {
    text-decoration: none;
}

ul {
    font-size: 110%;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li input {
    margin-right: 5%;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    height: 520px;
}

.product-item img {
    max-width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    object-fit: cover;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.product-rating {
    font-size: 75%;
}

.product-price {
    position: absolute; /* Giữ cố định vị trí của giá */
    bottom: 60px; /* Cách đáy của product-item 20px */
    
}

.product-shipping {
    margin: 10px 0;
    margin-top: auto;
}

.pagination .page-item {
    margin: 0 30px;
}

.pagination .page-item.disabled {
    margin: 0 40px;
}

footer {
    padding: 20px;
    padding-left: 100px;
    font-size: 75%;
}

.footer-column {
    flex: 1;
    min-width: 180px;
}

.footer-column .row img {
    width: 124px;
    margin-left: 45px;
}

.footer-column .contact-social img {
    height: auto;
    width: 12%;
    margin: 0 5px 0 0;
}